[submodule "mantle/contracts/lib/forge-std"]
	path = mantle/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "mantle/contracts/lib/openzeppelin-contracts"]
	path = mantle/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
